<!DOCTYPE html>
<html>
  <head>
    <title>Panini by Illia</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link style="filter: brightness(0) invert(1); height: auto; width: 40px" rel="icon" type="image/png" sizes="128x128" href="src/images/panini-logo.png">

    <style>
      .logo-reflect {
        height: auto;
        width: 100%;
      }
    </style>

  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
